extends layout

block content
  h1 Enriched Environment 
  p.lead Your personal uniquely tailored environemtn.
    a.btn.btn-raised(href='/', role='button') Back Home »
  hr
  ul#categories.clr
    li.pusher
      li
        div
          img(src="/img/ScheduleSession.png" alt="")
          h1 Set Training Session
          p
            a(href="https://harunpehlivantebimtebitagem.carrd.co" target="_blank")  Session Set
      li
        div
          img(src="/img/MonitorSessions.png" alt="")
          h1 Monitor Sessions
          p
            a(href="http://hpitgroupwebdesignstudio.bitballoon.com" target="_blank") Session Monitor
      li
        div
          img(src="/img/PracticeSession.png" alt="")
          h1 Practice Sessions
          p
            a(href="http://tercuman-bilisim-mer.ticiz.com" target="_blank")  Session Practice
      li
        div
          img(src="/img/StressRelief.jpg" alt="")
          h1 Stress Relief
          p
            a(href="http://harunpehlivan.thefanbase.net/" target="_blank")  Sessions Relief