extends layout

block content

  h1 Personal Training Area
    p.lead Your personal training area.
        a.btn.btn-raised(href='/', role='button') Back Home »
  hr
  div.sct-sw
    .sw--clearfix.sw--position-relative
      .sw-dms-section.sw-grid-flex.sw--width-full.sw-grid-flex--wrap--mob.sw-grid-flex--wrap--tab.sw-dms-flex--nowrap--mob-landscape
        .sw-dms-banner.sw-dms-panel--mob.sw-dms-panel--mob-tab.sw-dms-panel--mob-xs.sw-dms-panel--tab.sw-dms-banner--tab.sw-dms-banner--mob.sw-grid-flex__cell-1-4.sw--width-full.sw--padding-hor-7.sw-grid-flex__cell-1-1--mob.sw-grid-flex__cell-1-1--tab.sw-dms-flex__cell-1-4--mob-landscape.sw--position-relative
          .sw-logo-container
            // <img src="https://static1.sw-cdn.net/files/cms/dms/homepage/ShapewaysLogo_RGB_Red.svg" class="sw-logo sw--hide-mobile sw--hide-tablet">
          h1.sw-dms-banner__text.sw-dms__text--responsive.sw-dms__text--responsive-small.sw-dms-banner__text--mob.sw--position-absolute.sw--text-white(class="sw-dms-banner__text-tab")
            | BE  
            br
            |  YOUR OWN.
            br
            | CARE TAKER.
          // <img class="sw--position-absolute sw-red-cursor sw--hide-mobile sw--hide-tablet" src="https://static1.sw-cdn.net/files/cms/dms/homepage/ruby-carrot.svg">
        .sw-dms-panel-container.sw--text-white.sw-grid-flex.sw-grid-flex__cell-3-4.sw-grid-flex__cell-1-1--mob.sw-grid-flex__cell-1-1--tab.sw-dms-flex__cell-3-4--mob-landscape.sw-grid-flex--wrap--mob.sw-grid-flex--wrap--tab.sw-dms-flex--nowrap--mob-landscape.sw--position-relative(data-sw-dms-panel-container="")
          .sw-dms-panel-container-bg.sw-dms-panel-container-bg__design(data-sw-dms-panel-container-bg="design")
          .sw-dms-panel-container-bg.sw-dms-panel-container-bg__make(data-sw-dms-panel-container-bg="make")
          .sw-dms-panel-container-bg.sw-dms-panel-container-bg__sell(data-sw-dms-panel-container-bg="sell")
          .sw-dms-panel.sw-dms-panel--tab-xl.sw-dms-panel--mob-tab.sw-dms-panel--mob-xs.sw-design-panel.sw-design-panel--mob-tab.sw-grid-flex__cell-1-3.sw-grid-flex__cell-1-1--mob.sw-grid-flex__cell-1-1--tab.sw-dms-flex__cell-1-3--mob-landscape.sw--position-relative(data-sw-dms-panel="design")
            .sw-design-panel__bg.sw-bg-panel.sw-bg-panel--mob-tab
            .sw-dms-panel__inner-div.sw-dms-panel__inner-div--tab.sw-dms-panel__inner-div--mob.sw--position-absolute.sw--padding-hor-7
              h2.sw--margin-bottom-1.sw-dms-panel-header.sw-dms__text--responsive.sw-dms__text--responsive-small.sw-dms-panel-header--big.sw-dms-panel-header--mob.sw--font-family-sharp-grotesque(class="sw-dms-panel-header-tab") Monitor
              p.sw--font-size-18.sw-dms-panel-sub-header.sw-dms-panel-sub-header--mob.sw--margin-bottom-7(class="sw-dms-panel-sub-header-tab")
                | Monitor Your Health
                br
                |  here.
              a.sw--uppercase.sw--hide-mobile.sw--hide-tablet.sw-dms-button.sw-dms-button--red.sw-dms-button--big.sw--margin-bottom-5(data-creator-choice-button="/img/rrstatic/design.img" href="#") Button
              p.sw--margin-top-1.sw-dms-panel__inner-div__main-text.sw-dms-panel__inner-div__main-text--tab.sw-dms-panel__inner-div__main-text--mob-tab
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, ex qui. Pariatur omnis, distinctio reiciendis, corporis impedit assumenda repellat!
              a.sw--uppercase.sw--hide-desktop.sw-dms-button.sw-dms-button--red.sw-dms-button--big.sw--margin-top-5(data-creator-choice-button="/img/rrstatic/design.img" href="#") Button
          .sw-dms-panel.sw-dms-panel--tab-xl.sw-dms-panel--mob-tab.sw-dms-panel--mob-xs.sw-make-panel.sw-make-panel--mob-tab.sw-grid-flex__cell-1-3.sw-grid-flex__cell-1-1--mob.sw-grid-flex__cell-1-1--tab.sw-dms-flex__cell-1-3--mob-landscape.sw--position-relative(data-sw-dms-panel="make")
            .sw-make-panel__left-border.sw-make-panel-border.sw--is-hidden
            .sw-make-panel__right-border.sw-make-panel-border.sw--is-hidden
            .sw-make-panel__bg.sw-bg-panel.sw-bg-panel--mob-tab
            .sw-dms-panel__inner-div.sw-dms-panel__inner-div--tab.sw-dms-panel__inner-div--mob.sw--position-absolute.sw--padding-hor-7
              h2.sw--margin-bottom-1.sw-dms-panel-header.sw-dms-panel-header--big.sw-dms__text--responsive.sw-dms__text--responsive-small.sw-dms-panel-header--mob.sw--font-family-sharp-grotesque(class="sw-dms-panel-header-tab") Learn
              p.sw--font-size-18.sw-dms-panel-sub-header.sw-dms-panel-sub-header--mob.sw--margin-bottom-7(class="sw-dms-panel-sub-header-tab")
                | Independant exercises
                br
                |  here.
              a.sw--uppercase.sw--hide-mobile.sw--hide-tablet.sw-dms-button.sw-dms-button--red.sw-dms-button--big.sw--margin-bottom-5(data-creator-choice-button="/img/rrstatic/make.img" href="#") Button
              p.sw--margin-top-1.sw-dms-panel__inner-div__main-text.sw-dms-panel__inner-div__main-text--tab.sw-dms-panel__inner-div__main-text--mob-tab
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nemo dicta temporibus dolores minus. Vero veniam sequi adipisci quaerat hic dignissimos.
              a.sw--uppercase.sw--hide-desktop.sw-dms-button.sw-dms-button--red.sw-dms-button--big.sw--margin-top-5(data-creator-choice-button="/img/rrstatic/make.img" href="#") Button
          .sw-dms-panel.sw-dms-panel--tab-xl.sw-dms-panel--mob-tab.sw-dms-panel--mob-xs.sw-sell-panel.sw-sell-panel--mob-tab.sw-grid-flex__cell-1-3.sw-grid-flex__cell-1-1--mob.sw-grid-flex__cell-1-1--tab.sw-dms-flex__cell-1-3--mob-landscape.sw--position-relative(data-sw-dms-panel="sell")
            .sw-sell-panel__bg.sw-bg-panel.sw-bg-panel--mob-tab
            .sw-dms-panel__inner-div.sw-dms-panel__inner-div--tab.sw-dms-panel__inner-div--mob.sw--position-absolute.sw--padding-hor-7
              h2.sw--margin-bottom-1.sw-dms-panel-header.sw-dms-panel-header--big.sw-dms__text--responsive.sw-dms__text--responsive-small.sw-dms-panel-header--mob.sw--font-family-sharp-grotesque(class="sw-dms-panel-header-tab") Practice
              p.sw--font-size-18.sw-dms-panel-sub-header.sw-dms-panel-sub-header--mob.sw--margin-bottom-7(class="sw-dms-panel-sub-header-tab")
                | training plan
                br
                |  here.
              a.sw--uppercase.sw--hide-mobile.sw--hide-tablet.sw-dms-button.sw-dms-button--red.sw-dms-button--big.sw--margin-bottom-5(data-creator-choice-button="/img/rrstatic/sell.img" href="#") Button
              p.sw--margin-top-1.sw-dms-panel__inner-div__main-text.sw-dms-panel__inner-div__main-text--tab.sw-dms-panel__inner-div__main-text--mob-tab
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores modi incidunt magni, itaque maiores nobis accusantium amet in nulla! Perferendis.
              a.sw--uppercase.sw--hide-desktop.sw-dms-button.sw-dms-button--red.sw-dms-button--big.sw--margin-top-5(data-creator-choice-button="/img/rrstatic/sell.img" href="#") Button
      script.
        //Load this JS for non-touch devices
        if (!window.Modernizr.touch) {
            var $dmsSectionPanels = $('[data-sw-dms-panel]');
            var $dmsSectionContainer = $('[data-sw-dms-panel-container]');
            var dmsValue = '';
            $dmsSectionPanels.mouseenter(function () {
                var _this = $(this);
                var newDmsValue = _this.data('swDmsPanel');
                var str = "[data-sw-dms-panel-container-bg=" + newDmsValue + ']';
                var activeContainerBg = $('.sw-dms-panel-container-bg--active');
                var container = $dmsSectionContainer.find(str);
                container.css('opacity', 1);
                container.addClass('sw-dms-panel-container-bg--active');
                $('.sw-make-panel-border').show();
                $dmsSectionPanels.each(function (i, obj) {
                    if ($(obj).data('swDmsPanel') !== newDmsValue) {
                        $(obj).find('.sw-dms-panel__inner-div').addClass('sw-dms-panel__inner-div--transparent');
                    }
                    else {
                        $(obj).find('.sw-dms-panel__inner-div').removeClass('sw-dms-panel__inner-div--transparent');
                        $(obj).find('.sw-dms-panel__inner-div__main-text').css('opacity', 1);
                    }
                    $(obj).find('.sw-bg-panel').css('opacity', 0);
                });
                if (dmsValue !== newDmsValue) {
                    dmsValue = newDmsValue;
                    activeContainerBg.css('opacity', 0);
                    activeContainerBg.removeClass('sw-dms-panel-container-bg--active');
                }
            });
            $dmsSectionPanels.mouseleave(function () {
                $('.sw-make-panel-border').hide();
                $dmsSectionPanels.each(function (i, obj) {
                    $(obj).find('.sw-bg-panel').css('opacity', 1);
                    $(obj).find('.sw-dms-panel__inner-div').removeClass('sw-dms-panel__inner-div--transparent');
                    $(obj).find('.sw-dms-panel__inner-div__main-text').css('opacity', 0);
                });
            });
        }
