extends layout

block content
    .container.content
      .heading
        h2
          | Our 
          strong Great Team
      // //end heading
      .row
        .col-sm-4
          .team-members
            .team-avatar
              img.img-responsive(src="/img/iair.jpg" alt="")
            .team-desc
              h4 Iair Bluer
              span Developer
        .col-sm-4
          .team-members
            .team-avatar
              img.img-responsive(src="/img/roy.jpg" alt="")
            .team-desc
              h4 Roy Cohen
              span Developer
        .col-sm-4
          .team-members
            .team-avatar
              img.img-responsive(src="/img/nate.jpg" alt="")
            .team-desc
              h4 Nate Heard
              span Med Student - last year.
      // //end row
      .row
        .col-sm-4
          .team-members
            .team-avatar
              img.img-responsive(src="/img/nina.jpg" alt="")
            .team-desc
              h4 Nina Basman
              span Developer, Designer
        .col-sm-4
          .team-members
            .team-avatar
              img.img-responsive(src="/img/melki.png" alt="")
            .team-desc
              h4 Ilan Milky
              span Developer
      // //end row
    br
    br
